* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(255,255,255);
  background: linear-gradient(199deg, rgba(255,255,255,1) 0%, rgba(247,255,245,1) 49%);
  font-weight: 300;
}

.page {
  width: 85%;
  margin: 0 auto;
}




 /* Nav Bar */

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  text-decoration: none;
  color: black;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;

}

nav ul li {
  padding: 0px 20px 2px 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-top: 19px;
  font-size: 1rem;
  border-bottom: 4px solid #245760;

}

nav ul li:hover {
  border-bottom: 4px solid rgba(210, 248, 228);
  transition: border-bottom, .2s;
}





 /* Header */

.header-bg {
  min-height: 500px;
  background-image: url(images/geo-pattern9.png);
  background-size: cover;
  background-position: center;
  border-radius: 2px;
  overflow: hidden;
}

.intro {
  border: 7px solid white;
  border-radius: 2px;
  width: 80%;
  min-height: 350px;
  padding: 30px;
  background-color: #F2FDFF;
  box-shadow: 0 1px 10px 0 rgba(0,0,0,0.4);
}

.intro h1 {
  font-family: 'Noto Serif JP', serif;
  font-weight: 900;
  font-size: 2.8rem;
}

.intro h3 {
  padding-left: 4px;
  font-weight: 400;
  font-size: 1.4rem;
}







 /* Main Content */
 /* Education Section */

 .school {
   background-color: rgba(187, 223, 238, 0.8);
 }

 .courses {
   background-color: rgba(220,242,255, 0.8);
 }

 .courses li {
   list-style-type: disc;
   list-style-position: inside;
 }

 .courses h5 {
   font-weight: 400;
   font-size: .9rem;

 }

 .education h4 {
   font-weight: 400;
 }


 .experience h3, .education h3 {
   font-size: 1.2rem;
   font-weight: 400;
 }

 .experience h4, .education h4 {
   font-size: 1.1rem;
 }





 /* Skills Section */

 .rotate {
   position: relative;
   background-color: rgba(210, 248, 228, 0.8);
   transform: rotate(-2deg);
   padding: 20px;
   z-index: -1;

 }

 .text {
   position: relative;
   z-index: auto;
   transform: rotate(2deg);
 }

 .skill {
   box-shadow: 0px 1px 2px #A9A9A9;
   margin: 5px;
   padding: 4px;
   display: inline-block;
   font-size: .9rem;
   background: rgb(255,255,255);
   background: linear-gradient(177deg, rgba(255,255,255,1) 10%, rgba(242,242,242,1) 100%);
 }


 .skills h5 {
   font-weight: 400;
   font-size: .9rem;

 }

 .skills h3 {
   font-size: 1.2rem;
   padding: 10px 0px;
   font-weight: 500;
 }

 .skills h4 {
   font-size: 1.1rem;
   font-weight: 400;
 }





 /* Work Experience Section */

.lesson {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
}

.details {
  min-height: 95%;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.details h4 {
  text-align: center;
}

.s-hidden {
  display: none;
}

 .job {
   padding: 10px 10px 0px 10px;
   margin-bottom: 20px;
   margin-top: 20px;
   min-height: 190px;
 }


 .title {
   border-bottom: 1px solid #ECF0F1;
 }

.arrow {
  margin-top: 10px;
  color: #646A6D;
  font-size: .6rem;
}


.color1 {
  background-color: rgb(202, 241, 246);
}

.color2 {
  background-color: rgba(187, 223, 238, 0.8);;
}


.color1:hover, .color2:hover {
  background-color: rgba(155, 190, 193, 0.7);
}

.details li {
  list-style-type: none;
  list-style-position: inside;
  font-size: .9rem;
}




 /* Section Headings */

 .education h2,  .experience h2 {
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   font-size: 2.7rem;
   text-align: center;
   color: white;
   background-color: rgb(36,87,96);

 }

 .skills h2 {
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   font-size: 2.7rem;
   width: 70%;
   padding-left: 15px;
   padding-right: 15px;
   color: white;
   text-align: center;
   background-color: rgb(36,87,96);
   margin-bottom: 20px;
 }




/* Footer */

.no-margin {
  margin:0 !important;
  padding:0 ! important;
}

footer {
  background-color: #245760;
  min-height: 150px;
  margin-top: 100px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

footer h3 {
  font-size: .9rem;
}

footer p {
  font-size: .8rem;
}

footer a {
  color: white;
  text-decoration: underline;
}

footer a:hover {
  color: white;
}





/* General */

strong {
  font-weight: 500;
}

h2 {
  font-family: 'Roboto', sans-serif;
}





/*  Custom Media Queries */

/* Tablet */
@media only screen and (max-width: 768px) {

  .skills h2 {
    width: 90%;
  }


  /* Open all job descriptions on mobile and
  tablets for easier viewing */

  .s-hidden {
    display: block;
  }

  .s-open {
    display: none;
  }

  .arrow {
    display: none;
  }

  .lesson {
    text-align: center;
  }

 }


/* Mobile */
@media only screen and (max-width: 576px) {

  .page {
    width: 100%;
  }

  .intro {
    width: 100%;
  }

 }
